body { font-family:"Fixedsys", monospace;
       background-color: #FFE3E3;
       display: flex; 
       flex-direction: column;
       justify-content: center; 
       align-items: center;
         min-height: 100vh;
         margin: 0; 
         padding: 0;
} 

h1 { 
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.2; 
    front-weight: bold;
}  

.caja-login { border: 3px solid #f1f1f1;  
       max-width: 400px; 
       width: 90%; 
       padding: 30px; 
       box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);  
       text-align: center; 
       margin-bottom: 20px;
} 

label {
    display: block;
    margin-top: 15px;
    font-weight: bold; 
    text-align: left; 
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;  
    border-radius: 20px; 
} 

input[type=submit] {
    background-color: #E35B5B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%; 
    font-size: 16px;
    border-radius: 20px; 
    transition: 0.3s;
}

input[type="submit"]:hover {
    opacity: 0.8;
}  

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0; 
} 

img.Logopomninsane {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    border: 3px solid #E35B5B;
    display: block;
    margin: 0 auto;  
    object-fit: cover; 
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5); 
}  

.enlaces-ayuda {
    text-align: center;
    margin-top: 14px;
} 

.enlaces-ayuda a {
    color: #215EB8;
    text-decoration: none;
} 

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #555;
}   